*{
	font-family: Arial;
}
.logo{
	width: 300px;
	height: 40px;
}
header div p{
	position: relative;
	top: 20px;
	font-size: 12px;
	color: #D8D8D8;
	left: 40px;
}
.cuadro{
	padding: 7px;
	position: relative;
	top: 8px;
	left: 70px;
}
.lupa{
	position: relative;
    left: 40px;
    top: 10px;
}
.big{
    width: 735px;
    height: 315px;
}
.icono{
	width: 50px;
	height: 50px;
	position: relative;
	bottom: 174px;
	left: 218px;
}
.sobre{
    position: relative;
   
}
h1{
	font-size: 35px;
	margin-bottom: 10px;
}
.green{
	border: 1px solid #3BD469;
	padding: 5px;
	color: #3BD469;
	font-size: 12px;
	border-radius: 5px;
	width: 54px;
	margin-top: 15px;
}
.text{
	position: relative;
	left: 60px;
    bottom: 21px;
    color: #BEC8BD;
}
.celda{
	width: 100px;
}
tr, .text, .texto, .cuadro, footer{
	color: #BEC8BD;
	font-size: 12px;
}
table{
	margin-bottom: 10px;
}
.yellow, .orange{
	width: 176px;
	height: 55px;
	padding:16px;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 17px;
}
.yellow{
	background-color: #DFB636;
}
.orange{
	background-color: #BB7B29;
}
.yellow a, .orange a{
    text-decoration: none;
    color: #FBFFF4;
}
.dos{
	background-color: #DFB636;
	position: relative;
	width: 100%;
	top: 100px;
	padding: 30px 50px;
}
.pic{
    width: 168px;
    height:190px;
}
iframe{
	position: absolute;
	right: 0;
	top: 830px;
	width: 100%;
}
.grey, .sobre h1{
	color: #D7D7D7;
}
.grey{
	font-size: 24px;
}
.cuatro{ 
	position: relative;
	top: 400px;
	margin-top: 80px;
	margin-bottom: 20px;
	width: 1150px;
}
.negro{
	text-decoration: none;
	font-size: 12px;
    color: black;
}
.picture{
	width: 220px;
	height: 160px;
}
footer{
	background-color: #F3F3F3;
	position: relative;
	left: 14px;
	width: 100%;
	top: 420px;
	padding: 35px;
}
.cinco{
	position: relative;
	top: 400px;
}
.video{
    width: 100%;
}
